
       @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
       }
       header > h1{
           text-align: center;
       }
       ul{
           display: inline-block;
       }
        }
        .textoparagrafo{
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }
        p{
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }
     
        html{
            background-color: wheat;
        }
        body{
            background-color: white;
            margin: 40px;
        }
        main{
            margin: 20px;
        }
        header{
            text-shadow: black;
            text-align: center;
            font-style: normal;
            font-size: normal;
            font-family: 'Bebas Neue', cursive;
            font-weight: normal;
            font-style: normal;
            color: rgb(255, 238, 0);
            background-image: linear-gradient(to top, rgb(234, 0, 255), rgb(0, 255, 242) );
            padding-top: 1px;
            padding-right: 1px;
            padding-bottom: 1px;
            padding-left: 1px;
        }

      
        }
        
        div{
            text-align: left;
            padding: 0px 5px;
            margin: 5px;
            border-radius: 1px;
            color: white;
                      
        }
         a{
            padding: 1px 5px;

            font-size: normal;
            font-weight: normal;
            font
            color: blueviolet;
            display: inline-block;
            border-style: dashed;
            border: deepskyblue;
            font-style: normal;
            font-size: small;
        }
        a:link{ text-decoration:none; }
        a:visited{
            color: rgb(131, 255, 168);
        }
        a:hover{
            background-color: rgb(131, 255, 168); 
            border-radius: 3px;
            color: rgb(9, 119, 42);
            transition-duration: .5s;
        }
        a:active{
            color: darkred;
        
        }
        main{
            border:20px 0px;
        }
        article{
            background-color: white;
            
        }
        aside{
            background-color:rgb(5, 199, 5) ;

        }

        footer{
            
            background-color: white;
        }


    </style>